<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="/update-info"><i class="fa fa-user"></i> Tài khoản của tôi</a></li>
                        <li><a href="/cart"><i class="fa fa-user"></i> Giỏ hàng</a></li>
                        <li><a href="/checkout"><i class="fa fa-user"></i> Thanh toán</a></li>
                        <li><a href="/login"><i class="fa fa-user"></i> Đăng nhập</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
            </div>
        </div>
    </div>
</div> <!-- End header area -->
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="/"><img src="/images/logo.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="/cart">Giỏ hàng - <span class="cart-amunt">{{total}}</span> <i class="fa fa-shopping-cart"></i>
                        <span class="product-count">{{count}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="home active"><a href="/home">Home</a></li>
                    <li class="product"><a href="/product/P005">Chi tiết sản phẩm</a></li>
                    <li class="cart"><a href="/cart">Giỏ hàng</a></li>
                    <li class="checkout"><a href="/checkout">Thanh toán</a></li>
                    <li class="category"><a href="/category">Danh sách sản phẩm</a></li>
                    <li class="search"><a href="/search">Tìm kiếm</a></li>
                    <li class="history"><a href="/history">Lịch sử</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->