<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Lịch sử</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm sản phẩm</h2>
                    <form action="#">
                        <input type="text" placeholder="Tìm kiếm sản phẩm...">
                        <input type="submit" value="Tìm kiếm">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                    <ul>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <h2 class="sidebar-title">Lịch sử giao dịch</h2>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Giờ</th>
                            <th>Mã đặt hàng</th>
                            <th>Tổng cộng</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>30/12/2018</th>
                            <th>13:20</th>
                            <th>DH0025356</th>
                            <th>360.000 VNĐ</th>
                            <th><span style="color: blue">Đã hoàn thành</span></th>
                        </tr>
                        <tr>
                            <th>30/12/2018</th>
                            <th>13:20</th>
                            <th>DH0025356</th>
                            <th>360.000 VNĐ</th>
                            <th><span style="color: blue">Đã hoàn thành</span></th>
                        </tr>
                        <tr>
                            <th>30/12/2018</th>
                            <th>13:20</th>
                            <th>DH0025356</th>
                            <th>360.000 VNĐ</th>
                            <th><span style="color: blue">Đã hoàn thành</span></th>
                        </tr>
                        <tr>
                            <th>30/12/2018</th>
                            <th>13:20</th>
                            <th>DH0025356</th>
                            <th>360.000 VNĐ</th>
                            <th><span style="color: blue">Đã hoàn thành</span></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('ul.navbar-nav li').removeClass('active');
    $('li.history').addClass('active');
})
</script>