<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Tìm kiếm</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="images/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="/product">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                    <ul>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                        <li><a href="#">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <h2 class="search-h2">Tìm kiếm</h2>
                <div class="search-form">
                    <form>
                        <div class="col-md-4 col-sm-6">
                            <span>Loại sản phẩm</span>
                            <select>
                                <option>Điện thoại</option>
                                <option>Tivi</option>
                                <option>Máy tính</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <span>Nhà sản xuất</span>
                            <select>
                                <option>Apple</option>
                                <option>Samsung</option>
                                <option>Sony</option>
                                <option>LG</option>
                            </select>
                        </div>
                        <input type="text" class="form-control search-input" placeholder="Tìm kiếm..." />
                        <button class="btn btn-primary">Tìm kiếm</button>

                    </form>
                </div>
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div class="cart-collaterals">
                            <div class="cross-sells">
                                <ul class="products">
                                    <li class="product">
                                        <a href="/product">
                                            <img width="325" height="325" alt="T_4_front"
                                                class="attachment-shop_catalog wp-post-image"
                                                src="images/product-2.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                            data-product_id="22" rel="nofollow" href="/product">Lựa chọn</a>
                                    </li>

                                    <li class="product">
                                        <a href="/product">
                                            <img width="325" height="325" alt="T_4_front"
                                                class="attachment-shop_catalog wp-post-image"
                                                src="images/product-4.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                            data-product_id="22" rel="nofollow" href="/product">Lựa chọn</a>
                                    </li>
                                    <li class="product">
                                        <a href="/product">
                                            <img width="325" height="325" alt="T_4_front"
                                                class="attachment-shop_catalog wp-post-image"
                                                src="images/product-4.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                            data-product_id="22" rel="nofollow" href="/product">Lựa chọn</a>
                                    </li>
                                    <li class="product">
                                        <a href="/product">
                                            <img width="325" height="325" alt="T_4_front"
                                                class="attachment-shop_catalog wp-post-image"
                                                src="images/product-4.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                            data-product_id="22" rel="nofollow" href="/product">Lựa chọn</a>
                                    </li>
                                    <li class="product">
                                        <a href="/product">
                                            <img width="325" height="325" alt="T_4_front"
                                                class="attachment-shop_catalog wp-post-image"
                                                src="images/product-4.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                            data-product_id="22" rel="nofollow" href="/product">Lựa chọn</a>
                                    </li>
                                    <li class="product">
                                        <a href="/product">
                                            <img width="325" height="325" alt="T_4_front"
                                                class="attachment-shop_catalog wp-post-image"
                                                src="images/product-2.jpg">
                                            <h3>Ship Your Idea</h3>
                                            <span class="price"><span class="amount">£20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                            data-product_id="22" rel="nofollow" href="/product">Lựa chọn</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('ul.navbar-nav li').removeClass('active');
        $('li.search').addClass('active');
    })
</script>