<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="stylesheets/signup.css">
</head>
<body>
	{{#if Notify}}
        <script>alert("Đăng ký thất bại");</script>
    {{/if}}
    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" >
                        <h2 class="form-title" style="color: green ; font-family: JosefinSans-Bold" >Tạo tài khoản</h2>
                        <div class="form-group">
                            <input type="text" required class="form-input" name="name" id="name" placeholder="Họ và tên" minlength="6" maxlength="50"/>
                        </div>
                        <div class="form-group">
                            <input type="text" required class="form-input" name="phoneNumber" id="phoneNumber" placeholder="Số điện thoại" minlength="6" maxlength="50"/>
                        </div>
                        <div class="form-group">
                            <input type="email" required class="form-input" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="text" required minlength="6" class="form-input" name="password" id="password" placeholder="Mật khẩu"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" required minlength="6" class="form-input" name="re_password" id="re_password" placeholder="Nhập lại mật khẩu"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Tôi đồng ý tất cả các  <a href="#" class="term-service">điều khoản dịch vụ</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Đăng ký"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Bạn đã có tài khoản ? <a href="/login" class="loginhere-link">Đăng nhập</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="javascripts/main_huongnq.js"></script>
    <script src="javascripts/signUp.js"></script>
</body>
</html>